header,nav,footer,div,h1,h2,h3,h4,h5,a,p,span,img,button,body,div,ul,li,img,dt,dd,dl,a,p,h1,h2,h3,h4,h5,h6,input,span{
	padding:0;margin:0;border:0;list-style:none;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

.l{float:left}
.r{
	float:right;
}
footer{
	width:100%;
	height:146px;
	background:#ff9700;
	
}
footer .footer{
	width:1024px;
	height:146px;
	margin:0 auto;
	
	position:relative;
	/*overflow: hidden;*/
}
footer .footerNav{
	width:1024px;
	height:15px;
	float:left;
	margin:30px auto;
	
}
footer .footerNav .footerNav1{
	width:680px;
	height:100%;
	margin:0 auto;
	
}
footer .footerNav .footerNav1 li{
	float:left;
	width:134px;
	text-align:center;
	line-height:15px;
	border-right:2px solid #ffffff;
	font-size:14px;
	
}
footer .footerNav .footerNav1 li:nth-of-type(5){
	border:0;
}
footer .footerNav .footerNav1 li a{
	text-decoration: none;
	color:#fff;
	letter-spacing: 1px;
}

footer .footerNav .about{
	width:50%;
	height:14px;
	
	margin:0 auto;
	
}
footer .footerNav .aboutBox{
	width:1024px;
	margin:18px auto;
	
}
footer .footerNav .about li{
	float:left;
	padding:0 14px;
	height:100%;
	text-align: center;
	font-size:12px;
	line-height:14px;
	color:#fff;
	border-right:2px solid #fff;
	letter-spacing:1px;
	}
footer .footerNav .about li:nth-of-type(3){
	border:0;
}
footer .footerNav .slightly{
	width:114px;
	height:114px;
	display:block;
	position:absolute;
	top:15px;
	right:0px;
	overflow: hidden;
	
	
}
 .triangle{
	width:0px;
	height:0px;
	display:none;
	border-left:5px solid #fff;
	border-right:5px solid transparent;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	position:absolute;
	right:33px;
	top:55px;
	
	
	
}

.online{
	color:#fff;
	height:30px;
	width:30px;
	line-height:16px;
	font-size:12px;
	display:none;
	top:3px;
	right:3px;
	text-align:center;
	position: absolute;
	cursor: pointer;
	color:#1f1f1f;
	font-weight:bold;
	
}
.return{
	color:#fff;
	height:30px;
	width:30px;
	font-size:12px;
	line-height: 16px;
	display:none;
	top:83px;
	right:3px;
	text-align:center;
	position: absolute;
	cursor: pointer;
	color:#1f1f1f;
	font-weight:bold;
}
#nav{
	
	position: fixed;
	width:36px;
	top:350px;
	height:116px;
	right:20px;
	box-shadow:-25px 0 25px rgba(0,0,0,0.01), /*左边阴影*/  
    25px 0 25px rgba(0,0,0,0.01), /*右边阴影*/  
    0 -25px 25px rgba(0,0,0,0.01), /*顶部阴影*/  
    0 25px 25px rgba(0,0,0,0.01); /*底边阴影*/ 
	display:none;
}
#nav .slightlyQR{
	width:114px;
	height:114px;
	display:block;
	position:absolute;
	top:1px;
	right:42px;
	overflow: hidden;
	display:none;
	box-shadow:5px 0 5px rgba(0,0,0,0.03), /*左边阴影*/  
    5px 0 5px rgba(0,0,0,0.03), /*右边阴影*/  
    0 -5px 5px rgba(0,0,0,0.03), /*顶部阴影*/  
    0 5px 5px rgba(0,0,0,0.03); /*底边阴影*/ 
}
#nav .lastBox{
	width:36px;
	height:36px;
	margin-bottom:4px;
	background:#fff;
	border-radius:6px;
	
	box-shadow:-5px 0 5px rgba(0,0,0,0.03), /*左边阴影*/  
    5px 0 5px rgba(0,0,0,0.03), /*右边阴影*/  
    0 -5px 5px rgba(0,0,0,0.03), /*顶部阴影*/  
    0 5px 5px rgba(0,0,0,0.03); /*底边阴影*/ 
}
#nav .contact1{
	
}
#nav .lastBox:nth-of-type(3){
	margin:0;
}
.AddressBox{
	width:570px;
	height:14px;
	margin:0 auto;

}
.detailaddress{
	width:350px;
	height:14px;
	letter-spacing: 1px;
	text-align:center;
	font-size:14px;
	line-height: 14px;
	padding-right:15px;
	color:#fff;
	border-right:2px solid #fffeff;

}
.contact{
	width:176px;
	height:14px;
	letter-spacing:1px;
	text-align:left;
	font-size:14px;
	line-height: 14px;
	padding-left:14px;
	color:#fff;

}
#popUp{
	width:375px;
	height:145px;
	background:#fff;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-239px;
	margin-top:-108px;
	z-index: 2147000001;
	border-radius:6px;
	padding:38px 54px 34px 49px;
	display:none;
}
#popUp h2{
	width:100%;
	height:24px;
	line-height:24px;
	font-size:24px;
}
#popUp p{
	width:373px;
	height:27px;
	line-height:27px;
	font-size:14px;
	text-spacing: 1px;
}
#popUp p.firstOne{
	margin-top:7px;
}
#popUp .buttonBxo{
	width:100%;
	height:35px;
	margin-top:26px;
}
#popUp .buttonBxo input{
	width:152px;
	height:35px;
	outline:none;
	font-size: 18px;
	border-radius:6px;
	font-family:"微软雅黑";
	cursor:pointer;
}#popUp .buttonBxo input.schoolClub{
	background:#ff9700;
	color:#fff;
}
#popUp .close{
	width:24px;
	height:24px;
	position:absolute;
	right:14px;
	top:14px;
	background:url(../../img/common/Details-of-business_Delete.png) no-repeat center;
	cursor:pointer;
}
.popBox{
	position: fixed;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #666666; 
	opacity: 0.5; 
	z-index: 2147000000;
	display:none;
}