/******************************header******************************/


/****************************************************************/
.content{
  width:100%;
}
$commonColor:#ff9700;
.content .w{
  width:1024px;
  margin:0 auto;
  height:525px;
  .right{
    width:390px;
    height:525px;
    float:right;
    .editor_offline_box{
      width:100%;
      height:37px;
      overflow:hidden;
      margin-top:34px;
      .personalB{
        display:block;
        float:left;
        width:76px;
        height:34px;
        border-radius:6px;
        border:1px solid #5e5e5e;
        font-size:16px;
        color:#5e5e5e;
        background:#fff;
        outline:none;
        cursor:pointer;
      }
      .personalB:hover{
        color:$commonColor;
        border:1px solid $commonColor;
        background:#fff;
      }
      .personal_editor{
        margin-left:127px;
      }
      .personal_oofline{
        margin-left:20px;
      }
    }
  }
}
.content .w .left{
  width:634px;
  height:525px;

}
.content .w .left h2{
  width:100%;
  height:41px;
  font-size:40px;
  line-height:41px;
  margin-top:34px;
  font-weight:normal;
}
.content .w .left .activityAbout{
  width:100%;
  height:14px;
  margin-top:10px;
  font-size:14px;
  line-height:14px;
}
.content .w .left .activityAbout{
  display:block;
}
.content .w .left .activityAbout .actDate{
  width:176px;
  height:14px;
  text-indent: 4px;
}
.content .w .left .activityAbout .actDate .actDateNew{
  margin-left:10px;
}
.content .w .left .activityAbout .actTime{
  width:140px;
  height:14px;
  text-align:center;
  padding-left:4px;
}
.content .w .left .activityAbout .actCompany{
  width:300px;
  height:14px;
  text-align: left;
  color:#ff9a02;
}
.content .w .left .activityAbout .actCompany a{
  text-decoration: none;
  color:#2f2f2f;
}
.content .w .left .activityDetail{
  width:597px;
  height:104px;
  background:#fff4e6;
  margin-top:24px;
  padding:9px 20px;
}
.content .w .left .activityDetail .type{
  width:100%;
  height:35px;
  line-height:35px;
  font-size:14px;
  letter-spacing:1px;
}
.content .w .left .activityDetail .type .actType{
  width:170px;
  padding-right:4px;
}
.content .w .left .activityDetail .type .deadLine{
  width:350px;
  height:35px;
  padding-left:28px;
  padding-right:6px;
}
.content .w .left .activityDetail .type .deadLine .typeLeft{
  margin-left:6px;
}
.content .w .left .contentDetail{
  width:465px;
  height:280px;
  padding-right:171px;
  font-size:14px;
}
.content .w .left .contentDetail .actDetail{
  width:446px;
  height:406px;
  overflow: hidden;
  padding-left:20px;
}
.content .w .left .contentDetail .actDetail p{
  width: 100%;
  height:35px;
  line-height:35px;
}
.content .w .left .contentDetail .actDetail p.first{
  margin-top:8px;
}
.success_number{
  color:#818181;
}
.content .personalTabsBox{
  width:1024px;
  margin:0 auto;
  .personalHeadBox{
    width:100%;
    height:70px;
    border-bottom:2px solid $commonColor;
    .personalTabButton{
      display:block;
      width:133px;
      height:70px;
      float:left;
      font-size:24px;
      font-weight:bold;
      outline:none;
      cursor:pointer;
      border-top:1px solid #dcdcdc;
      background:#ffffff;
    }
    .waitFiltrate{
      border-top-left-radius: 6px;
      border-left:1px solid #dcdcdc;
    }
    .waitComment{
      border-top-right-radius: 6px;
      border-right:1px solid #dcdcdc;
    }
    .changeTabColor{
      background:$commonColor;
      color:#fff;
      border:0;
    }
  }
  .waitFiltrateBox{
    width:100%;
    overflow: hidden;
    .pagesBox{
      width:100%;
      height:103px;
      line-height:103px;
    }
    .waitFiltrateExample{
      position:relative;
      width:1022px;
      border-radius:6px;
      margin-top:10px;
      border:1px solid #dcdcdc;
      .waitFiltrateHead{
        width:1009px;
        padding-left:15px;
        height:40px;
        span{
          display:block;
          float:left;
          height:40px;
          line-height:40px;
        }
        .headLogo{
          .headLogoI{
            display:block;
            width:20px;
            height:20px;
            margin-top:10px;
          }
        }
        .waitFiltrateCh{
          width:179px;
          font-size:16px;
          letter-spacing:1px;
          text-align:center;
        }
        .waitFiltrateDate{
          width:85px;
          text-align:center;
          font-size:10px;
        }
        .waitFiltrateTime{
           width:40px;
          font-size:10px;
          text-align:center;
        }

      }
      .waitFiltrateContent{
          width:720px;
          margin-top:10px;
          margin-left:15px;
          font-size:14px;
          line-height:18px;
          padding-top:4px;
          padding-bottom:20px;
      }
      .addCommentContentBox{
        width:100%;
        display:none;
        height:153px;
        border-top:1px solid #dcdcdc;
        .addCommentBox{
          width:100%;
          height:105px;
          padding-top:9px;
          .addInputComment{
             display:block;
             float:left;
             height:81px;
             width:602px;
             resize:none;
            outline:none;
            border-radius:6px;
            padding:9px 13px;
            font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';
            margin-left:18px;
          }
          .addInputButton{
            width:338px;
            float:left;
            height:104px;
            padding-left:20px;

            input{
                display:block;
                width:65px;
                height:22px;
                font-size:12px;
                background:#ffffff;
                border:1px solid #dbdbdb;
                border-radius:4px;
                float:left;
                cursor:pointer;
                color:#bababa;
                outline:none;
                margin-right:18px;
                margin-bottom:14px;
                font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';
            }
            .buttonActive{
                background:#ff9700;
                border:1px solid #ff9700;
                color:#fff;
            }

          }
        }
        .addCommentButtonBox{
            width:166px;
            height:26px;
            margin:5px auto;
            .addCommentButton{
                display:block;
                float:left;
                width:72px;
                height:26px;
                background:#fff;
                border:1px solid #5e5e5e;
                outline:none;
                border-radius:6px;
                cursor:pointer;
                font-size:12px;
                color:#5e5e5e;
                margin-right:10px;
            }
        }
      }
      .commentJudgeBox{
        width:64px;
        height:72px;
        position:absolute;
        top:22px;
        right:40px;
        .commentJudgeB{
            width:62px;
            height:24px;
            margin-bottom:10px;
            outline:none;
            background:#fff;
            border:1px solid #707070;
            border-radius:4px;
            font-size:14px;
            cursor:pointer;
        }
      }
    }
  }
  .waitCommentBox{
    width:100%;
    display:none;
    overflow: hidden;
      .waitCommentPages{
          width:100%;
          height:139px;
          line-height:139px;
      }
      .waitCommentExample{
          width:1022px;
          border:1px solid #dcdcdc;
          border-radius:6px;
          margin-top:10px;
          .waitCommentEHBox{
              width:966px;
              height:50px;
              padding-left:18px;
              padding-right:40px;
              span{
                  display:block;
                  height:50px;
                  float:left;
                  line-height:50px;
                  text-align:center;
              }
              .waitCommImg{
                  width:20px;
                  img{
                      margin-top:15px;
                  }
              }
              .waitCommH{
                  padding:0 5px;
                  font-size:16px;
                  letter-spacing:1px ;
              }
              .waitCommDate{
                  padding:0 10px;
                  font-size:10px;
              }
              .waitCommTime{
                  padding:0 3px;
                  font-size:10px;
              }
              .clickComment{
                  float:right;
                  display:block;
                  width:62px;
                  height:24px;
                  cursor:pointer;
                  border:1px solid #707070;
                  background:#fff;
                  outline:none;
                  font-size:14px;
                  border-radius:3px;
                  color:#5e5e5e;
                  margin-top:12px;
                  margin-right:13px;
                  font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';
              }
          }
          .waitCommentContentBox{
              display:none;
              width:1024px;
              height:192px;
              border-top:1px solid #dcdcdc;
              .waitCommentStar{
                  width:1006px;
                  padding-left:18px;
                  height:44px;
                  .waitCommentStarImgB{
                      display:block;
                      float:left;
                      width:158px;
                      height:24px;
                      padding:10px 0;
                      a{
                          display:block;
                          height:24px;
                          float:left;
                          float:left;
                      }
                  }
                  .waitCommentStarExample{
                      display:block;
                      float:left;
                      width:194px;
                      line-height:44px;
                      font-size:12px;
                      color:#bbbbbb;
                      text-align:center;
                  }
              }
              .waitCommentInputBox{
                  width:1006px;
                  height:104px;
                  padding-left:18px;
                  .waitCommentInputTab{
                      width:354px;
                      height:104px;
                      float:left;
                      padding-left:20px;
                      .tabButton{
                          display:block;
                          float:left;
                          padding:0 8px;
                          height:24px;
                          border:1px solid #dcdcdc;
                          border-radius:3px;
                          font-size:12px;
                          background:#fff;
                          color:#bbbbbb;
                          outline:none;
                          margin-right:18px;
                          margin-bottom: 12px;
                          font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';
                      }
                  }
                  .waitCommentInputText{
                      display:block;
                      width:602px;
                      height:81px;
                      outline:none;
                      float:left;
                      resize: none;
                      border-radius:6px;
                      padding:8px 13px;
                      font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';


                  }
              }

          }
          .waitCommentCancelConfirm{
              width:168px;
              height:26px;
              margin:5px auto;
              .waitCommentB{
                  display:block;
                  width:72px;
                  height:26px;
                  float:left;
                  cursor:pointer;
                  border:1px solid #5e5e5e;
                  color:#5e5e5e;
                  outline:none;
                  background:#fff;
                  margin-right:11px;
                  border-radius:3px;
                  font-family:'Microsoft Yahei','Arial','Helvetica','sans-self';
              }
          }
      }
  }
}
#nav{
  display:block;
}








