.content{
	width:100%;
	height:1832px;
	.w{
		width:1024px;
		height:1832px;
		margin:0 auto;
	}
	.h2{
		width:100%;
		height:62px;
		line-height:62px;
		padding-top:30px;
		font-size:24px;
	}
	.entertainmentAddress{
		width:100%;
		height:21px;
		#entertainmentCity{
			width:600px;
			height:21px;
			float:left;
			.selec{
				display:block;
				width:129px;
				height:21px;
				float:left;
				background:#e6e6e6;
				text-indent:10px;
				outline:none;
				border:0;
				border-radius:3px;
				margin-right:16px;
				font-family: 'Microsoft Yahei','Arial','Helvetica','sans-self';
			}
		}
		.entertainmentAHead{
			display:block;
			width:61px;
			height:21px;
			line-height:21px;
			float:left;
			font-size:14px;
			font-weight:bold;
		}
	}
	.entertainmentType{
		width:100%;
		height:16px;
		margin-top:20px;
		.entertainmentTypeHead{
			width:61px;
			display:block;
			height:16px;
			float:left;
			font-size:14px;
			line-height:16px;
			font-weight:bold;
		}
		.entertainmentTypeChoose{
			width:900px;
			height:16px;
			float:left;
			span{
				display:block;
				height:16px;
				font-size:14px;
				line-height:16px;
				margin-right:34px;
				float:left;
				cursor:pointer;
			}
		}

	}
	.entertainmentFiter{
		width:100%;
		height:36px;
		margin-top:21px;
		.enterButton{
			outline:none;
			margin-top:1px;
			display:block;
			float:left;
			width:75px;
			height:34px;
			background:#fff;
			color:#2f2f2f;
			font-family: 'Microsoft Yahei','Arial','Helvetica','sans-self';
			cursor:pointer;
			font-size:14px;
			font-weigth:bold;
			border:1px solid #dcdcdc;
			font-weight:bold;
		}
		.enterPrice{
			background:#fff1dc;
			border-right:0;
			color:#ff9700;
		}
		.enterHeat{
			border-right:0;
		}
	}
	.entertainmentTalentsBox{
		width:1024px;
		height:1442px;
		margin-top:22px;
		padding-top:20px;
		border-top:1px solid #dcdcdc;
		.entertainmentExample{
			width:218px;
			height:308px;
			margin-right:50px;
			margin-bottom:46px;
			float:left;
			dt{
				width:100%;
				height:218px;
				img{
					display:block;
					width:100%;
					height:100%;
				}
			}
			$enterBacground:#01cc00;
			dd{
				position:relative;
				width:100%;
				height:88px;
				background:$enterBacground;
				.enterNumberName{
					width:100%;
					height:40px;

					.enterTainmentPrice{
						display:block;
						float:left;
						height:40px;
						line-height:40px;
						padding:0 10px;
						font-size:28px;
						color:#fff;
					}
					.enterType{
						display:block;
						float:right;
						height:40px;
						line-height:40px;
						padding:0 10px;
						font-size:22px;
						color:#fff;
					}
				}
				.entertainmentName{
					width:208px;
					padding-left:10px;
					height:18px;
					line-height:18px;
					color:#fff;
					font-size:18px;
				}
				.entertainmentHeight{
					width:208px;
					height:27px;
					padding-left:10px;
					line-height:27px;
					color:#fff;
					font-size:12px;
				}
				.entertainAddress{
					position:absolute;
					bottom:0;
					right:0;
					padding:0 8px;
					height:32px;
					line-height:32px;
					img{
						display:block;
						float:left;
						margin-top:3px;
					}
					span{
						margin-left:3px;
						font-size:14px;
						color:#fff;
					}
				}
			}
		}
		.entertainmentExample:nth-child(4n){
			margin-right:0;
		}

	}
.enterPrePagesNextPages{
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
}

}
#nav{
	display:block;
}